# Copy to ~/.config/reterminal-daemon/reterminal-daemon.env 
# and edit for your device/account.

EINK_MAC=AA:BB:CC:DD:EE:FF
EINK_KEY=abcd0000001111122222333344445555
CALENDARS=--calendar-id "me@gmail.com" --calendar-id "me@work.com"
EXTRA_ARGS=--battery-cal -0.23 --battery-threshold 20 --max-results 4
